
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #2d3436; 
  
}

.button{
  width: 60px;
  padding: 15px;
  margin: 0 3px;
  border: transparent;
  border-radius: 9px;
  cursor: pointer;
  background: #96aac4;
  
}
.button:hover{
    background: #18658e;
    transform: rotate(2deg);
}

.row{
  margin: 3px 0; 
}
.row input{
  width: 270px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: transparent;
    border-radius: 7px;
    background-color: whitesmoke;
    
}
